# Python
__pycache__/
*.py[cod]
.venv/

# Environment
.env
.env.local
.env.example

# IDE
.vscode/
.idea/

# Build/Dist
dist/
build/
*.spec
node_modules/

# App Specific
app/utils/log_aplicacao.txt
app/Relatórios/
*.pdf
ngrok.exe